/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 juil. 2018, 12:22:46
    Author     : Administrateur
*/

body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 14px;
    color: #bbbaba;
    justify-content: center;
    display: flex;
    padding: 50px;
}
form {
    width: 60%;
    margin: 0 auto;
    background-color: blue;
    border-radius: 5px;
    padding: 100px 8px;
}
.btnSubmit {
    display: block;
    padding: 19px 70px;
    background-color: white;
    border: none;
    margin: 30px 0;
    margin: 0 auto;
    margin-top: 76px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.btnSubmit:hover {
    background-color: black;
    color: white;
}
.champ {
   border: none;
   border-radius: 5px;
   opacity: 0.4;
   margin: 0 auto;
   display: block;
   width: 72%;
   padding: 15px 0;
   margin-top: 42px;
}  
.champCli {
   margin-top: 10px;
   margin-bottom: 20px;
}
label {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: center;
    letter-spacing: 8px;
}
ul {
    list-style: none;
    padding: 0;
}
table {
    background-color: #e5f3fd;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 100px;
}
.CliTab {
    padding: 10px 30px;
    text-transform: uppercase;
}
.btnAjouter {
    margin: 0 auto;
    display: block;
    padding: 10px 30px;
    background-color: blue;
    border: none;
}
.btnAjouter a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 700;
}

.btnAjouter:hover {
    background-color: white;
    border: 1px solid blue;
}
.btnAjouter a:hover {
    color: blue;
}
th {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
tr:hover {
    background-color: white;
}
.listeCat {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 40px 0;
}
.listeCat a {
    text-decoration: none;
    background-color: #e5f3fd;
    padding: 10px 20px;
    color: black;
    margin-left: 60px;
}

/* TEMPLATE */

.footerTop {
    display: flex;
    justify-content: space-around;
    margin: 40px 60px;
    border-bottom: #87bfd0 1px solid;
    padding-bottom: 30px;
}
.footerTop article h3 {
    text-align: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #bfbfbf;
}
.imgLogo {
    width: 75%;
    height: auto;
}
.title3 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #87bfd0;
}
.listeFooter a{
    text-decoration: none;
    color: #a5a1a1;
}
.tbNewsletter {
    padding: 10px 35px;
}
.btnLetter {
    background-color: black;
    padding: 15px 20px;
    margin-left: -4px;
}
.btnLetter i {
    color: white;
}
.footerBot {
    display: flex;
    justify-content: space-around;
}
.footerBot article {
    width: 25%;
}
.formClo {
    padding: 0;
    margin: 0;
    background-color: white;
    width: 25%;
}
.bg-light {
    background-color: white !important;
}
header {
    background-image: url("https://assets.paddle8.com/media/editorial/entry/1419953305-gray-malin-beach-banner.jpeg");
    color: black;
    font-weight: 700;
    padding: 50px 0;
}
header h1 {
    color: black;
    font-weight: 700;
}
main {
    background: #f3f0f0;
    padding: 150px 0;
}
.form-control {
    border-radius: 0 !important;
}
.btn-outline-success {
    color: #87bfd0;
    border-color: #87bfd0;
}
.btn {
    border-radius: 0;
}
.btn:hover {
    background-color: #87bfd0;
    border: 1px solid #87bfd0;
}
.navbar-toggler {
    border: white;
}
.loginForm {
    background-color: white !important;
}
.loginLabel {
    color: #87bfd0;
}
.loginBtn {
    margin: 0 auto;
    display: block;
    padding: 10px 35px;
    background-color: #87bfd0;
    border: none;
}
.loginMain {
    background-color: white;
}


@media screen and (max-width: 640px) {

    form{
        width: 80%;
        padding: 130px 8px;
    }    
}
@media screen and (max-width: 540px) {
    h1{ 
        letter-spacing: 1px;
    }   
}
